body{
    background-image: url(img/cards-casino-chance-269630.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

.titulo {
    text-align: center;
    background: black;
    color: white;
    padding: 15px;
}

.table_game {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diler,
.player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
    color: white;
    background: black;
    width: 100%;
}

.carta_diler {
    background: white;
    width: 70px;
    height: 100px;
    border: 2px solid black;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}

.boton_jugar {
    height: 70px;
    line-height: 70px;
}

.jugar {
    color: white;
    background: black;
    padding: 10px;
}

.recargar {
    display: none;
    color: white;
    background: darkred;
    padding: 10px;
}

.carta_player {
    background: white;
    width: 70px;
    height: 100px;
    border: 2px solid black;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}

p {
    text-align: center;
    color: white;
    background: black;
    width: 100%;
}
.botones_accion {
    height: 70px;
    line-height: 70px;
    display: none;
}

.solicitar_carta,
.plantar {
    color: white;
    background: black;
    padding: 10px;
    width: 90px;
}